python_Levenshtein==0.12.0
dill==0.3.0
GitPython==3.1.0
imohash==1.0.4
joblib==0.13.2
nevergrad==0.2.3
nltk
numpy==1.22
pandas==0.25.1
sentencepiece==0.1.86
spacy==2.1.3
tabulate==0.8.4
torch==1.4.0
tqdm==4.36.1
easse@git+git://github.com/feralvam/easse.git@580bba7e1378fc8289c663f864e0487188fe8067
fairseq@git+https://github.com/louismartin/fairseq.git@controllable-sentence-simplification
